.wrapper
  max-width: 1260px
  padding: 0

.wrapper-text
  max-width: 1040px

.nav-bar
  display: flex
  padding-top: 80px

.nav-bar a
  font-family: $baseFont
  font-weight: 500
  font-size: 15px
  color: $gray

.nav-bar a:not(:last-child):after
  content: "/"
  color: $gray
  padding: 15px

h2 a
  color: $orange


.live-chat-title-recommendation
  margin-top: 65px




.live-chat-block-services
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.block-services-item
  max-width: 400px

.block-services-item img
  margin-bottom: 0

.block-services-item  p,
.block-services-item-big-description p
  font-size: 16px
  line-height: 140%
  font-weight: 500
  color: $gray

.block-services-item p
  margin-top: 16px

.block-services-item-title
  padding: 30px 0 16px
  margin: 0

.block-services-item-big img
  height: 340px
  margin-bottom: 0

.block-services-item-big
  width: 609px

.block-services-item-big-description
  display: flex
  justify-content: space-between
  margin-top: 8px

.block-services-item-big-description p
  width: 70%
  margin-top: 30px

.form-block-wrapper
  border: 7px solid $very-light-grey
  margin: 94px 0 114px

.form-block
  max-width: 1110px
  margin: 0 auto
  padding-bottom: 48px

.form-block-title
  margin: 65px 0 42px

.form-checkbox-text
  width: 586px
  font-size: 12px
  font-weight: 600
  line-height: 130%
  color: $gray

.idea-block-wrapper-title
  font-weight: bold
  letter-spacing: -0.01em

.idea-block-wrapper p
  font-weight: 500