//- header.header
    .header-logo
        a(href='#')
            img(src="images/fox-project/header/Logo.svg")
    .header-nav
        ul.header-nav-list
            li.header-nav-list-item.link
                a(href="#") Размещение
            li.header-nav-list-item.link
                a(href="#") Стрельба
            li.header-nav-list-item.link
                a(href="#") Развлечения
            li.header-nav-list-item.link
                a(href="#") Мероприятия
            li.header-nav-list-item.link
                a(href="#") Контакты
    .header-btn
        button.header-btn-item.btn.btn--red Забронировать